<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Stravatools Default Bikes Tool</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <h1>Default Bikes Page</h1>

    {{ defaultbikesform.errors }}

    <form method="POST" action={% url 'defaultbikes' %}>
      {% csrf_token %}
      {{ defaultbikesform }}
      {% if user.is_authenticated %}
        <input type="submit" value="Update">
      {% else %}
        <input type="submit" value="Update" disabled>
      {% endif %}
    </form>
        
  </body>
</html>