{% extends "base.html" %}

{% block title %}Stravatools Default Bike tool{% endblock %}

{% block content %}

    <h1>Default Bikes Page</h1>

    {{ defaultbikesform.errors }}

    <form method="POST" action={% url 'defaultbikes' %}>
      {% csrf_token %}
      {{ defaultbikesform }}
      
      {% if user.is_authenticated %}
        <input type="submit" name='defaultbikes' value="Update">
      {% else %}
        <input type="submit" value="Update" disabled>
      {% endif %}
    
    </form>

    <form method="POST" action={% url 'defaultbikes' %}>
      {% csrf_token %}
      {{ manualbikecorrectionform }}
      
      <input type="submit" name='manualbikecorrection' value="Update">
   
    </form>

    {% for log in changelog %}
    <p> {{ log }} <p>
    {% endfor %}

    {% for r in results %}
      <p> {{ r }} </p>
    {% endfor %}
    
{% endblock %}