table.bikes {
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
  }
  
table.activities {
    border: 1px solid black;
    table-layout: fixed;
    width: 800px;
  }

  div {
  padding: 10px;
}

h3 {
  padding: 10px;
}

th,
td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
}

input[type=date] {
  width: 300px;
}

button[type="submit"] {
  background-color: green;
  color: rgb(223, 223, 223);
  padding: 5px 10px;
  border-radius: 4px;
}

div.changeindoor {
    width: 50%;
    float: left;
}

div.changeoutdoor {
  width: 50%;
  float: right;
}
