<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Stravatools Activities</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>

  <body>
    <h1>Activities Page</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Distance</th>
          <th>Type</th>
          <th>Trainer</th>
          <th>Start Date</th>
          <th>Gear<th>
        </tr>
      </thead>
      <tbody>
        {% for a in activities %}    
        <tr>
          {% if stravawrite %}
            <td><a href="{% url 'activitydetail' a.id %}">{{ a.id }}</a></td>
          {% else %}
            <td>{{ a.id }}</td>
          {% endif %}
          <td>{{ a.name}}</td>
          <td>{{ a.distance }}</td>
          <td>{{ a.type }}</td>
          <td>{{ a.trainer }}</td>
          <td>{{ a.start_date }}</td>
          <td>{{ a.gear_name }} </td>
        </tr>
          {% endfor %}  
      </tbody>
    </table>
    <br>
    

    
  </body>
</html>