<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/loggedheader"> </head>

<body>
    <div class="grid-x"> 
        <div class="cell auto">
            <div class="callout primary">
                <form th:action="@{/setBikes}" method="POST">
                    <table class="bikes">
                        <tr> 
                            <th>Bike</th> 
                            <th>Distance (k)</th> 
                            <th>Default bike for</th> 
                            <th>Set as Indoor</th>
                            <th>Set as Outdoor</th>
                        </tr>
                        <tr th:each="bike : ${bikes}"> 
                            <td th:text="${bike.name}"></td>
                            <td th:text="${#numbers.formatDecimal(bike.distance / 1000, 0, 0)}"></td>
                            <td th:if="${bike.id} == ${indoorBikeId}"><span class="label primary">Indoor</span></td>
                            <td th:if="${bike.id} == ${outdoorBikeId}"><span class="label success">Outdoor</span></td>
                            <td th:if="${bike.id} != ${indoorBikeId} and ${bike.id} != ${outdoorBikeId}"></td>
                            <td><input type="radio" name="indoor" th:value="${bike.id}"></td>
                            <td><input type="radio" name="outdoor" th:value="${bike.id}"></td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td><span>Change indoor activities going forward:</span></td>
                            <td>
                                <div class="switch">
                                    <input th:if="${autoChangeIndoor}" class="switch-input" id="indoorAutoSwitch" type="checkbox" checked="checked" name="indoorAutoSwitch">
                                    <input th:unless="${autoChangeIndoor}" class="switch-input" id="indoorAutoSwitch" type="checkbox" name="indoorAutoSwitch">
                                    <label class="switch-paddle" for="indoorAutoSwitch">
                                    </label>
                                </div>
                            </tr>
                        </tr>
                        <tr>
                            <td><span>Change outdoor activities going forward:</span></td>
                            <td>
                                <div class="switch">
                                    <input th:if="${autoChangeOutdoor}" class="switch-input" id="outdoorAutoSwitch" type="checkbox" checked name="outdoorAutoSwitch">
                                    <input th:unless="${autoChangeOutdoor}" class="switch-input" id="outdoorAutoSwitch" type="checkbox" name="outdoorAutoSwitch">
                                    <label class="switch-paddle" for="outdoorAutoSwitch">
                                    </label>
                                </div>
                            </td>   
                        </tr>
                    </table>
                      
                      
                    <button class="submit button" type="submit">Apply</button>
                </form>
            </div>
            
        </div>

        <div class="cell auto">
            <div class="callout secondary changeindoor">
                <h5><p> Change indoor activities for date range to:  <span th:text="${indoorBikeName}"></p></h5>
                <form th:action="@{/changeAllIndoor}" method="POST">
                    <p>From:</p> <input type="date" name="indoorstart">
                    <p>To:</p> <input type="date" name="indoorend">
                    <button class="submit button" type="submit">Apply</button>
                </form>
            </div>
        </div>  

        <div class="cell auto">
            <div class="callout secondary changeoutdoor">
                <h5><p>Change outdoor activities for date range to: <span th:text="${outdoorBikeName}"></span></p></h5>
                <form th:action="@{/changeAllOutdoor}" method="POST">
                    <p>From:</p> <input type="date" name="outdoorstart">
                    <p>To:</p> <input type="date" name="outdoorend">
                    <button  class="submit button" type="submit">Apply</button>
                </form>
            </div>
        </div>
    </div>
    
    <span th:if="${changedActivities}">
        <p>changed <span th:text="${changedActivities}"> activities</span></p>
    </span>

    <br>

    <div th:replace="fragments/footer"></div>

</body>

</html>