{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Stravatools Activity Page{% endblock %}

{% block content %}
    
      <h1>Activities</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            {% if user.is_authenticated and user.profile.distance == "miles" %}
              <th>Distance (miles)</th>
            {% else %}
              <th>Distance (km)</th>
            {% endif %}
            <th>Type</th>
            <th>Trainer</th>
            <th>Start Date</th>
            <th>Gear<th>
          </tr>
        </thead>
        <tbody>
          {% for a in activities %}    
          <tr>
            {% if stravawrite %}
              <td><a href="{% url 'activities:activitydetail' a.id %}">{{ a.id }}</a></td>
            {% else %}
              <td>{{ a.id }}</td>
            {% endif %}
            <td>{{ a.name}}</td>
            {% if user.is_authenticated and user.profile.distance == "miles" %}
              <td>{{ a.distance }}</td>
            {% else %}
              <td>{{ a.distance }}</td>
            {% endif %}
            <td>{{ a.type }}</td>
            <td>{{ a.trainer }}</td>
            <td>{{ a.start_date }}</td>
            <td>{{ a.gear_name }} </td>
          </tr>
            {% endfor %}  
        </tbody>
      </table>

         
    {% endblock %}