<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header"> </head>

<body class="main">

<div th:if="${param.error}">
    Invalid username and password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="grid-container" >
    <div class="grid-x grid-margin-x">
        <div class="card">
            <div class="card-divider">
            Welcome Back, please login:
            </div>
            <div class="card-section">
                <form th:action="@{/login}" method="POST">
                    <div class="input-group">
                        <span class="input-group-label">Email: </span>
                        <input class="input-group-field" name="username" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-label">Password: </span>
                        <input class="input-group-field" name="password" type="password">
                    </div>

                    <td><button class="submit button">Log In</button></td>

                </form>
                <p> <a th:href="@{/}">I want to register for an account</a></p>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>

</body>

</html>