<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header"> </head>

<body>
    <h3><p th:text="|Hello ${athlete.firstname} ${athlete.lastname}|" /></h3>


    <div>
        <h5><p>Select default indoor and outdoor bikes to correct activities<p></h5>
        <form th:action="@{/setBikes}" method="POST">
            <table class="bikes">
                <tr> 
                    <th>ID</th>
                    <th>Bike</th> 
                    <th>Distance</th> 
                    <th>Indoor Bike</th>
                    <th>Outdoor Bike</th>
                </tr>
                <tr th:each="bike : ${bikes}"> 
                    <td th:text="${bike.id}"></td>
                    <td th:text="${bike.name}"></td>
                    <td th:text="${bike.distance} / 1000 +  'k'"></td>
                    <td><input type="radio" name="indoor" th:value="${bike.id}"></td>
                    <td><input type="radio" name="outdoor" th:value="${bike.id}"></td>
                </tr>
            </table>
            <button type="submit">Apply</button>
        </form>
    </div>

    <br>

    
    <div class="changeindoor">
        <h5><p> Change all indoor activities to <span th:text="${defaultIndoor}"></p></h5>
        <form th:action="@{/changeAllIndoor}" method="POST">
            <p>From:</p> <input type="date" name="indoorstart">
            <p>To:</p> <input type="date" name="indoorend">
            <button type="submit">Apply</button>
        </form>
    </div>

    <div class="changeoutdoor">
        <h5><p>Change all outdoor activities to <span th:text="${defaultOutdoor}"></span></p></h5>
        <form th:action="@{/changeAllOutdoor}" method="POST">
            <p>From:</p> <input type="date" name="outdoorstart">
            <p>To:</p> <input type="date" name="outdoorend">
            <button type="submit">Apply</button>
        </form>
    </div>

    <span th:if="${changedActivities}">
        <p>changed <span th:text="${changedActivities}"> activities</span></p>
    </span>

    <br>

    <div class="activitylist">
        <h5><p>Activity List:</p></h5>
        <a float="left" th:href="@{/me(page=${page} - 1)}">Prev Page</a>
        <a float="right" th:href="@{/me(page=${page} + 1)}">Next Page</a>
        <table class="activities">
            <tr> 
                <th>ID</th>
                <th>Date</th>
                <th>Name</th> 
                <th>Type</th> 
                <th>Gear</th>
                <th>Sport Type</th>
                <th>Commute?</th>
                <th>Trainer?</th>
                <th>Hidden?</th>
                <th>Description</th>
            </tr>
            <tr th:each="activity : ${activities}">
                <td th:text="${activity.id}"></td>
                <td th:text="${activity.start_date}"></td>
                <td th:text="${activity.name}"></td>
                <td th:text="${activity.type}"></td>
                <td th:text="${activity.gear_id}"></td>
                <td th:text="${activity.sport_type}"></td>
                <td th:text="${activity.commute}"></td>
                <td th:text="${activity.trainer}"></td>
                <td th:text="${activity.hide_from_home}"></td>
                <td th:text="${activity.description}"></td>
            </tr>
        </table>
    </div>



    <div th:replace="fragments/footer"></div>

</body>

</html>