<html>
    <head th:replace="fragments/header"> </head>
<body class="main">

<div class="grid-container" >
    <div class="grid-x grid-margin-x">
        <div class="card">
            <div class="card-divider">
            <b>Register to link Strava account and access tools</b>
            </div>
            <img id="logoimage" th:src="@{/img/bicycle02.png}" />
            <div class="card-section">
                <form th:action="@{/register}" method="POST">
                    <div class="input-group">
                        <span class="input-group-label">Email:</span>
                        <input class="input-group-field" name="username" type="text">
                    </div>
                    <div class="input-group">
                        <span class="input-group-label">Password:</span>
                        <input class="input-group-field" name="password" type="password">
                    </div>

                    <td><button class="submit button">Register</button></td>

                </form>
                <p> <a th:href="@{/login}">I already have an account</a></p>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer"></div>
</body>
</html>